<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="ion-padding" [formGroup]="form">

    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input formControlName="password"></ion-input>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-button (click)="login()">Login</ion-button>
</ion-footer>